.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn.btn-primary {
  background-color: #e3710a;
  color: white;
  border-color: #e3710a;
  width: 100%;
  height: 48px;
  text-transform: uppercase;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #e3710a;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow:none;
}

.contain-star:before{
  content: "*";
  margin-right: 2px;
}

.offerContainer {
  background-color: #eef0f2;
  border: 2px dashed #e3710a;
}

.offer-title {
  background-color: #484b51;
  position: absolute;
  left: 50%;
  top: -12px;
  transform: translate(-50%);
  width: 60%;
  color: white;
}

.offer-title .top-left {
  position: absolute;
  top: 0;
  left:-12px;
  border-left: 12px solid transparent;
  border-top: 12px solid #484b51;
}

.offer-title .top-right {
  position: absolute;
  top: 0;
  right:-12px;
  border-right: 12px solid transparent;
  border-top: 12px solid #484b51;
}

.offer-title .bottom-left {
  position: absolute;
  bottom: 0;
  left:-12px;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #484b51;
}

.offer-title .bottom-right {
  position: absolute;
  bottom: 0;
  right:-12px;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #484b51;
}